/*.custom-modal-height {
  height: 80vh;
  max-height: 80vh; //Asegúrate de que el contenido no sobrepase esta altura 
  overflow-y: auto; 
}*/

.modal-lg2 {
  max-width: 50%; /* Cambia el porcentaje según necesites */
  max-height: 600px;
}

.modal-dialog {
  max-width: 80%;
  width: auto;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#calendar1{/*Agregar*/
  /*max-width: 500px;*/
  width: 100%;
  height: 400px;  
  margin: 0 auto;
  margin-top: 20px; 
}

#calendar2{/*Editar*/
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

#calendar3 {/*General*/
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
}

#calendar-container {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}

.fc-daygrid-day[data-event] {
  cursor: not-allowed;
}

.no-border {
  border: none;
  outline: none;
}

.no-border:hover {
  cursor: pointer;
}
