body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

/*table, th, td {
    border: 1px solid black;
}*/

th, td {
    padding: 10px;
    text-align: center;
}

input[type="number"] {
    width: 80px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}