.color-detalle i {
    margin-right: 10px;
         
}

.alert-warning {
    background-color: #eaeef3;
    border: black;
    border-color: black;
    color: black;
}

.section {
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 20px;
}

.section.tabla {
    width: 92%;
    height: 350px;    
    position: relative;
    left: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 5px solid #eaeef3;
}

.table {
    border: 2px solid #131111;
}