{% extends "base_init.html" %}
{% block title %}Otra Página{% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'perfil.css' %}"/>
    <script src="{% static 'camposValidos.js' %}"></script>
    <section>
        <header>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homeAdministrador">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
                </ol>
            </nav>
            <h1 class="mt-4">Agregar Usuarios</h1>
        </header>

        <div class="d-flex align-items-center mb-3">
            <button class="btn">
                <i class="bi bi-search"></i>
            </button>
            <div class="flex-grow-1">
                <input type="text" class="form-control" id="buscar" name="nombres" placeholder="Buscar"
                       style="width: 600px;">
            </div>
            <button type="button" class="btn btn-dark ms-2" data-bs-toggle="modal" data-bs-target="#modal1">
                Agregar Usuario
            </button>
        </div>
        <br>

        <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal1Label" style="font-size: 30px;">Registro nuevo Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="border-top: 3px solid #8ab5ea;">
                        <form action="{% url 'registrarUsuario' %}" method="POST" class="needs-validation" novalidate
                              id="formulario">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="nombres" class="form-label">Nombres</label>
                                        <input type="text" class="form-control" id="nombres" name="nombres"
                                               placeholder="Ejemplo: Luis Alberto" style="width: 350px;" required
                                               pattern="[a-zA-ZÀ-ÿ\s]{1,40}">
                                        <div class="invalid-feedback" id="feedback-invalido">Por favor, ingrese un
                                            nombre válido (solo letras y espacios).
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="direccion" class="form-label">Dirección</label>
                                        <input type="text" class="form-control" id="direccion" name="direccion"
                                               placeholder="Ejemplo: Av.24 Agosto" style="width: 350px;" required
                                               pattern="[a-zA-ZÀ-ÿ\s]{1,40}">
                                        <div class="invalid-feedback">Por favor, ingrese su dirección.</div>
                                    </div>
                                    <input type="email" class="form-control" id="correo" name="correo"
                                           placeholder="Ejemplo: luis.a.medina.c@unl.edu.ec" style="width: 350px;"
                                           required
                                           pattern="[a-zA-Z0-9._%+-]+@unl\.edu\.ec$">
                                    <div class="invalid-feedback">Por favor, ingrese un correo electrónico válido que
                                        termine en @unl.edu.ec
                                    </div>
                                    <div class="form-wrapper">
                                        <label for="tipo_cargo">Cargo</label>
                                        <div>
                                            <select name="tipo_cargo" id="tipo_cargo" class="form-control"
                                                    style="width: 350px;" required>
                                                <option value="Personal">Personal Administrativo</option>
                                                <option value="Administrador">Administrador</option>
                                            </select>
                                            <div class="invalid-feedback">Por favor, seleccione un cargo.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="apellidos" class="form-label">Apellidos</label>
                                        <input type="text" class="form-control" id="apellidos" name="apellidos"
                                               placeholder="Ejemplo: Medina Chamba" style="width: 350px;" required
                                               pattern="[a-zA-ZÀ-ÿ\s]{1,40}">
                                        <div class="invalid-feedback">Por favor, ingrese sus apellidos.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="dni" class="form-label">DNI</label>
                                        <input type="text" class="form-control" id="dni" name="dni"
                                               placeholder="Ejemplo: 1105585184" style="width: 350px;" required
                                               pattern="\d{10}">
                                        <div class="invalid-feedback">Por favor, ingrese un DNI válido (10 dígitos).
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="telefono" class="form-label">Teléfono</label>
                                        <input type="text" class="form-control" id="telefono" name="telefono"
                                               placeholder="Ejemplo: 0960749867" style="width: 350px;" required
                                               pattern="\d{10}">
                                        <div class="invalid-feedback">Por favor, ingrese un número de teléfono válido
                                            (10 dígitos).
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-dark">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <section class="section tabla">
            <div class="contenedorTablas">
                <table id="personalAdministrativoTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>DNI</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for us in personalAdministrativo %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ us.dni }}</td>
                            <td>{{ us.nombres }}</td>
                            <td>{{ us.apellidos }}</td>
                            <td>{{ us.direccion }}</td>
                            <td>{{ us.telefono }}</td>
                            <td><a href="#modal2-{{ forloop.counter }}" class="edit" data-bs-toggle="modal"> <i
                                    class="bi bi-pencil-square"></i></a></td>
                            <td><a href="#" class="btn" onclick="handleDelete('{{ us.id }}'); return false;"><i
                                    class="bi bi-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <script>
                function handleDelete(userId) {
                    Swal.fire({
                        title: '¿Estas seguro de eliminar el usuario?',
                        text: "No podras revertir esta acción!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#070303',
                        cancelButtonColor: '#a30a0a',
                        cancelButtonText: 'Cancelar',
                        confirmButtonText: 'Confirmar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "{% url 'eliminarUsuario' 'PLACEHOLDER_ID' %}".replace('PLACEHOLDER_ID', userId);
                        }
                    });
                }
            </script>
        </section>
        {% for us in personalAdministrativo %}
            <div class="modal fade" id="modal2-{{ forloop.counter }}" tabindex="-1" aria-labelledby="modal1Label"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal1Label" style="font-size: 30px;">Editar campos del
                                Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="border-top: 3px solid #8ab5ea;">
                            <form id="editPersonalForm-{{ forloop.counter }}" action="/editarPersonalAdmi/{{ us.id }}/"
                                  method="POST" class="needs-validation" novalidate>
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="nombres-{{ forloop.counter }}"
                                                   class="form-label">Nombres</label>
                                            <input type="text" class="form-control" name="nombres"
                                                   id="nombres-{{ forloop.counter }}" value="{{ us.nombres }}"
                                                   style="width: 350px;" required pattern="[a-zA-ZÀ-ÿ\s]{1,40}">
                                            <div class="invalid-feedback">Por favor, ingrese un nombre válido (solo
                                                letras y espacios).
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="direccion-{{ forloop.counter }}"
                                                   class="form-label">Dirección</label>
                                            <input type="text" class="form-control" id="direccion-{{ forloop.counter }}"
                                                   name="direccion" value="{{ us.direccion }}" style="width: 350px;"
                                                   pattern="[a-zA-ZÀ-ÿ\s]{1,40}">
                                            <div class="invalid-feedback">Por favor, ingrese su dirección.</div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="telefono-{{ forloop.counter }}"
                                                   class="form-label">Teléfono</label>
                                            <input type="text" class="form-control" name="telefono"
                                                   id="telefono-{{ forloop.counter }}" value="{{ us.telefono }}"
                                                   style="width: 350px;" pattern="\d{10}">
                                            <div class="invalid-feedback">Por favor, ingrese un número de teléfono
                                                válido (10 dígitos).
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="dni-{{ forloop.counter }}" class="form-label">DNI</label>
                                            <input type="text" class="form-control" name="dni"
                                                   id="dni-{{ forloop.counter }}" value="{{ us.dni }}"
                                                   style="width: 350px;" disabled>
                                        </div>
                                        <div class="mb-3">
                                            <label for="apellidos-{{ forloop.counter }}"
                                                   class="form-label">Apellidos</label>
                                            <input type="text" class="form-control" name="apellidos"
                                                   id="apellidos-{{ forloop.counter }}" value="{{ us.apellidos }}"
                                                   style="width: 350px;" required pattern="[a-zA-ZÀ-ÿ\s]{1,40}">
                                            <div class="invalid-feedback">Por favor, ingrese sus apellidos.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-dark" value="Update">Guardar Cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}