{% extends "base_initPersonal.html" %}
{% block title %}Otra Página{% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'ayuda.css' %}" />
    <div class="content">
       <div class="box">
           <h2>Getting Started</h2>
           <p>Get started fast with installation and theme setup instructions.</p>
       </div>
       <div class="box">
           <h2>User Account</h2>
           <p>Get started fast with installation and theme setup instructions.</p>
       </div>
       <div class="box">
           <h2>Product Features</h2>
           <p>Get started fast with installation and theme setup instructions.</p>
       </div>
       <div class="box">
           <h2>Customization Options</h2>
           <p>Get started fast with installation and theme setup instructions.</p>
       </div>
   </div>
    
{% endblock %}