{% extends "base_initPersonal.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'stylePR.css' %}" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css">

<script src="{% static 'scriptExportarPDF.js' %}"></script>
<link rel="stylesheet" href="{% static 'styleExportarPDF.css' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.1/echarts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<header>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePersonal">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Prediccion</li>
        </ol>
    </nav>
    <br>
    <h1> Predicciones</h1>
    <br>
</header>

<main>
    <div class="container">
        <section class="prediccion">
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <i class="bi bi-pencil"></i>
                <div>Predicción</div>
            </div>
            <div class="contenedor">
                <div class="custom-select-container">
                    <select class="form-select custom-select" aria-label="Disabled select example">
                        <option selected> Periodo </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="grupo">
                    <button class="btn btn-primary" type="button">Predicción</button>
                    <i class="bi bi-bar-chart-line-fill custom-icon"></i>
                    <button type="button" class="btn btn-primary" id="btnExport" data-toggle="modal"
                        data-target=".bd-example-modal-lg">
                        Exportar
                    </button>
                    <i class="bi bi-filetype-pdf custom-icon"></i>
                </div>
            </div>

            <div class="container chart-container">
                <div class="row my-4">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto">
                        <div id="chart" class="chart"> </div>
                    </div>
                </div>
            </div>

            <!--  Apache Echarts  -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.1/echarts.min.js"> </script>
            <!--  Custom js  -->
            <script src="{% static 'js/main.js' %}"></script>
        </section>

        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="exportContainer" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Exportar a PDF</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>Vista previa</h5>
                        <div class="docuemnt">

                            <!-- Aquí iría la vista previa del documento -->
                            <div class="containerPdf"
                                style="display: flex; justify-content: center; align-items: center; margin: 0; border: 2px solid black; overflow-y: auto; overflow-x: hidden;">

                                <div class="containerDocPDF" style="transform: scale(0.9); height: 190px; margin-top: 240px;">
                                    
                                    <!-- Aquí iría lo que se va ha exportar como documento PDF -->
                                    <div class="pdf" id="docPDF"
                                        style="transform: scale(0.9);">
                                        <img src="{% static 'logo_unl copy.png' %}"
                                            alt="Logo de la Universidad Nacional de Loja" class="logoInf">
                                        <h1 class="facultyNameInf"><strong>Facultad de Energía, Las Industrias y Los
                                                Recursos Naturales No
                                                Renovables</strong></h1>
                                        <h2 class="careerNameInf"><strong>Carrera de Electricidad</strong></h2>

                                        <!-- Gráfico Clonado en el Modal -->
                                        <div class="grafico"  style="width: 650px;">
                                            <div class="alert alert-warning d-flex align-items-center color-detalle tall-alert"
                                                role="alert">
                                                <i class="bi bi-graph-up"></i>
                                                <div>Predicción Gráfica</div>
                                            </div>
                                            <div class="chartCloned" id="chartImageContainer"></div>
                                        </div>

                                        <!-- Tabla Clonado en el Modal -->
                                        <div class="datosHistoricos"  style="width: 650px;">
                                            <section>
                                                <div class="alert alert-warning d-flex align-items-center color-detalle tall-alert"
                                                    role="alert">
                                                    <i class="bi bi-table"> </i>
                                                    <div>Detalle de la gráfica</div>
                                                </div>
                                                <section class="section tabla">
                                                    <div class="contenedorTablas">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Fecha </th>
                                                                    <th scope="col">Matriculados </th>
                                                                    <th scope="col">Aprobados </th>
                                                                    <th scope="col">Reprobados </th>
                                                                    <th scope="col">Desertores </th>
                                                                    <th scope="col">Foraneos </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for fecha in tiempo|slice:"7" %}
                                                                <tr>
                                                                    <td> {{ fecha }}</td>
                                                                    <td> {{ matriculados|slice:forloop.counter|last }}
                                                                    </td>
                                                                    <td> {{ aprobados|slice:forloop.counter|last }}</td>
                                                                    <td> {{ reprobados|slice:forloop.counter|last }}
                                                                    </td>
                                                                    <td> {{ desertores|slice:forloop.counter|last }}
                                                                    </td>
                                                                    <td> {{ foraneos|slice:forloop.counter|last }}</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </section>
                                            </section>
                                        </div>

                                        <div class="piePagina">
                                            <p><strong>Todos los derechos reservados @UNL Predict</strong></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!---->
                        </div>
                        <hr>

                        <div class="file-name">
                            <label for="file-name">Nombre del archivo:</label>
                            <input type="text" id="fileName" placeholder="Ingrese el nombre del archivo">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal" id="cancelBtn">Cerrar</button>
                        <button type="button" class="btn btn-dark" id="exportBtn">Exportar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>

</main>

{% endblock %}