{% extends "base_initPersonal.html" %}
{% block title %}Gráficos{% endblock %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'styleCiclos.css' %}"/>
    <header>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/homePersonal">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/Prediccion">Predicción General</a></li>
                <li class="breadcrumb-item active" aria-current="page">Predicción Ciclos</li>
            </ol>
        </nav>
        <br><br>
        <h1>Gráficos Ciclos</h1>
    </header>
    <main>
        <section>
            <div class="contenedor">
                <div class="custom-select-container">
                    <select id="yearSelect" class="form-select custom-select" aria-label="Disabled select example">
                        <option selected>Seleccion Año Predicción</option>
                        <option value="1">2025</option>
                        <option value="2">2026</option>
                        <option value="3">2027</option>
                        <option value="4">2028</option>
                        <option value="5">2029</option>
                        <option value="6">2030</option>
                        <option value="7">2031</option>
                        <option value="8">2032</option>
                        <option value="9">2033</option>
                        <option value="10">2034</option>
                        <option value="11">2035</option>
                    </select>
                </div>
                <div class="grupo">
                    <button id="predictionButton" class="btn btn-primary" type="button">Predicción Estudiantil</button>
                    <i class="bi bi-bar-chart-line-fill custom-icon"></i>
                    <div class="container">
                        <div id="chartsRow" class="row my-4 d-flex flex-wrap">
                            <div id="chart1Container" class="col-12 col-md-6 chart-container">
                                <h3 class="chart-title"> Gráfica Predicción Ciclo 1</h3>
                                <div id="chart1" class="chart"></div>
                            </div>
                            <div id="chart2Container" class="col-12 col-md-6 chart-container">
                                <h3 class="chart-title"> Gráfica Predicción Ciclo 2</h3>
                                <div id="chart2" class="chart"></div>
                            </div>
                            <div id="chart3Container" class="col-12 col-md-6 chart-container">
                                <h3 class="chart-title"> Gráfica Predicción Ciclo 3</h3>
                                <div id="chart3" class="chart"></div>
                            </div>
                            <div id="chart4Container" class="col-12 col-md-6 chart-container">
                                <h3 class="chart-title"> Gráfica Predicción Ciclo 4</h3>
                                <div id="chart4" class="chart"></div>
                            </div>
                            <div id="chart5Container" class="col-12 col-md-6 chart-container">
                                <h3 class="chart-title"> Gráfica Predicción Ciclo 5</h3>
                                <div id="chart5" class="chart"></div>
                            </div>
                            <div id="chart6Container" class="col-12 col-md-6 chart-container">
                                <h3 class="chart-title"> Gráfica Predicción Ciclo 6</h3>
                                <div id="chart6" class="chart"></div>
                            </div>
                            <div id="chart7Container" class="col-12 col-md-6 chart-container">
                                <h3 class="chart-title"> Gráfica Predicción Ciclo 7</h3>
                                <div id="chart7" class="chart"></div>
                            </div>
                            <div id="chart8Container" class="col-12 col-md-6 chart-container">
                                <h3 class="chart-title"> Gráfica Predicción Ciclo 8</h3>
                                <div id="chart8" class="chart"></div>
                            </div>
                            <div id="chart9Container" class="col-12 col-md-6 chart-container">
                                <h3 class="chart-title"> Gráfica Predicción Ciclo 9</h3>
                                <div id="chart9" class="chart"></div>
                            </div>
                            <!-- Añade más contenedores aquí según sea necesario -->
                        </div>
                    </div>
                    <!-- Apache Echarts -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.1/echarts.min.js"></script>
                    <script src="{% static 'js/graficasCiclos.js' %}"></script>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>Proyecto Integreador - Derechos reservados © 2024</p>
        </div>
    </footer>
{% endblock %}
            