{% extends "base_initPersonal.html" %}
{% load static %}   
{% block content %}
    <link rel="stylesheet" href="{% static 'stylePR.css' %}" />
    <header>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/homePersonal">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Prediccion</li>
            </ol>
        </nav>
    <br>
    <h1>Predicciones</h1>
    <br>
    </header>
    
    <main>
        <div class="container">
            <section class="prediccion">
                <div class="alert alert-primary d-flex align-items-center" role="alert">
                    <i class="bi bi-pencil"></i>
                    <div>Predicción</div>
                </div>
                <div class="contenedor">
                    <div class="custom-select-container"> 
                        <select id="yearSelect" class="form-select custom-select" aria-label="Disabled select example">
                            <option selected>Seleccion Año Prediccion</option>
                            <option value="1">2025</option>
                            <option value="2">2026</option>
                            <option value="3">2027</option>
                            <option value="4">2025</option>
                            <option value="5">2026</option>
                            <option value="6">2027</option>
                            <option value="7">2025</option>
                            <option value="8">2026</option>
                            <option value="9">2027</option>
                            <option value="10">2028</option>
                            <option value="11">2029</option>
                            <option value="12">2030</option>
                            <option value="13">2031</option>
                            <option value="14">2032</option>
                            <option value="15">2033</option>
                            <option value="16">2034</option>
                            <option value="17">2035</option>
                            <option value="18">2036</option>
                        </select>
                    </div>
                    <div class="grupo">
                        <button id="predictionButton" class="btn btn-primary" type="button">Predicción</button> 
                        <i class="bi bi-bar-chart-line-fill custom-icon"></i>
                        <button class="btn btn-secondary custom-btm" type="button">Exportar</button>
                        <i class="bi bi-filetype-pdf custom-icon"></i>
                    </div>
                </div>
                <button id="btnModal" class="btn btn-primary btm2" type="button">Ciclos </button>      
                <div class="container chart-container">
                    <div class="row my-4">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto"> 
                            <div id="chart" class="chart"> </div>
                        </div>
                    </div>
                </div>
                <!--  Apache Echarts  -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.1/echarts.min.js"> </script>
                <!--  Custom js  -->
                <script src="{% static 'js/main.js' %}"></script>

            </section>
            
        </div>
    </main>

{% endblock %}