{% extends "base_init.html" %}

{% block title %}Otra Página{% endblock %}

{% block content %}
    <div>
        <header>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/homeAdministrador">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Perfil Administrador</li>
            </ol>
        </nav>
    <br>
    <h1>Perfil Administrador</h1>
    <br>
    </header>
    </div>
    
{% endblock %}